<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837434895352-va9mfe03bm9b73b761sdubso0d1um4ab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837434895352-va9mfe03bm9b73b761sdubso0d1um4ab</string>
	<key>API_KEY</key>
	<string>AIzaSyAT_9oK_xaGYxSo1O2eSCh7vIZMF10KFrE</string>
	<key>GCM_SENDER_ID</key>
	<string>837434895352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pfe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>isearchpfe</string>
	<key>STORAGE_BUCKET</key>
	<string>isearchpfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837434895352:ios:7ee864ab2e6f3c9473840d</string>
</dict>
</plist>